---
layout: default
---

<div class="home">

    <h1 class="page-heading">Notes</h1>

    <ul class="post-list">
      {% assign items = site.notes | sort: 'date' | reverse %}
      {% for note in items limit:5 %}
        <li>
          <span class="post-meta">
            {{ note.date | date: "%b %-d, %Y" }}
            {% for tag in note.tags %}
              <span>#{{tag}}</span>
            {% endfor %}
          </span>

          <h2>
            <a class="post-link" href="{{ note.url | prepend: site.baseurl }}">{{ note.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

</div>
